/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Noto+Serif&display=swap");

:root {
  /* Background gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Text */
  --Main-text: hsl(238, 29%, 16%);
  --Secondary-text: hsl(237, 12%, 33%);
  --Sub-text: hsl(240, 6%, 50%);
  --Hover-text: hsl(14, 88%, 65%);

  /* Dividers */
  --Divider: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(
    var(--Soft-violet) 0%,
    var(--Soft-blue) 100%
  );
  color: var(--Main-text);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2.66rem;
}

/* main */
.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  background: hsl(0, 0%, 100%);
  top: 8.33rem;
  left: 26.66rem;
  width: 66.66rem;
  height: 37.5rem;
  border-radius: 2.5rem;
  overflow: hidden;
  z-index: 1;
}

.accordion {
  position: absolute;
  top: 4.16rem;
  right: 6.66rem;
  width: 25rem;
  height: 25rem;
}

.question {
  color: var(--Secondary-text);
  position: relative;
  top: 1.66rem;
  padding: 0.666rem 0;
}

.question:hover {
  color: var(--Hover-text);
  cursor: pointer;
}

.active > .question {
  font-weight: bold;
}

.active > .question:hover {
  color: var(--Secondary-text);
}

.arrow {
  position: relative;
  top: 0.166rem;
  left: 22.5rem;
  width: 3%;
  cursor: pointer;
}

.active .arrow {
  transform: rotate(180deg);
}

.divider {
  position: relative;
  top: 1.25rem;
  opacity: 0.2;
}

.active .divider {
  position: relative;
  top: 5.41rem;
}

.answer {
  display: none;
}

.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  color: var(--Sub-text);
  position: relative;
  top: 0.416rem;
  height: 4.16rem;
}

/* Images */
.pattern {
  position: absolute;
  top: -28.33rem;
  right: 30rem;
  width: 58.33rem;
  height: 75rem;
}

.box {
  position: relative;
  top: 24.58rem;
  left: 20.66rem;
  width: 12.5rem;
  height: 12.5rem;
  z-index: 3;
}

.woman-online {
  position: absolute;
  top: 2.5rem;
  right: 30.83rem;
  width: 35.83rem;
  height: 25rem;
}

.mobile-img {
  display: none;
}

.mobile-pattern {
  display: none;
}

/* Media Queries */
@media (max-width: 41.666em) {
  h1 {
    position: relative;
    bottom: 0.833rem;
    left: 6.66rem;
  }

  .flex-container {
    display: flex;
    position: absolute;
    left: 2.08rem;
    top: 12.5rem;
    min-width: 26.66rem;
    width: 16.66rem;
    height: 43.33rem;
  }

  .accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20.83rem;
    left: 3.33rem;
    width: 18.33rem;
    height: 8.33rem;
  }

  .accordion .arrow {
    position: relative;
    top: -0.166rem;
    left: 20rem;
    width: 5%;
  }

  .mobile-img {
    display: block;
    position: absolute;
    top: 0.416rem;
    left: 4.58rem;
    width: 20.83rem;
    height: 20.83rem;
    z-index: 50;
  }

  .mobile-pattern {
    display: block;
    width: 20.83rem;
    height: 9.16rem;
    z-index: 6;
  }

  .box {
    display: none;
  }

  .woman-online {
    display: none;
  }

  .pattern {
    display: none;
  }
}

@media (min-width: 90em) and (max-width: 120em) {
  .flex-container {
    position: absolute;
    top: 10rem;
    left: 20.83rem;
    width: 83.33rem;
    height: 44.16rem;
  }

  .accordion {
    position: absolute;
    top: 8.33rem;
    left: 50rem;
  }

  .accordion h1 {
    font-size: 3rem;
    position: relative;
    bottom: 1.25rem;
  }

  .box {
    position: absolute;
    top: 27.91rem;
    left: 15rem;
    width: 15.83rem;
    height: auto;
  }

  .woman-online {
    position: absolute;
    top: -2.5rem;
    left: -57.5rem;
    width: 50rem;
    height: 31.66rem;
  }

  .pattern {
    position: absolute;
    top: -31.66rem;
    left: -68.75rem;
  }
}
